* {
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.web-container {
    margin: auto;
    max-width: 1200px;
}

.button {
    cursor: pointer;
}

.user-select-none {
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.page-off {
    display: none;
}

/*------------------CABECERA Y MENU----------------------*/
.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 120px);
    margin: auto;
    overflow: hidden;
    height: 90px;
}

.nav-flex-item {
    display: flex;
}

.nav-flex-item:nth-child(1) {
    width: 250px;
    justify-content: center;
}

.nav-flex-item:nth-child(2) {
    overflow: hidden;
    justify-content: flex-end;
}

.title-web {
    font-size: 38px;
    font-weight: 900;
    font-style: italic;
}

.btn-menu {
    width: 31px;
    text-align: center;
    font-size: 31px;
}

/*-------------MENU DESPEGABLE LATERAL-----------*/
.nav-menu-container {
    transform: translateX(390px);
}

.nav-menu-container-off {
    transform: translateX(390px);
    transition: all 0.4s ease;
}

.nav-menu-container-on {
    transform: translateX(0);
    transition: all 0.4s ease;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 45px 0 10px;
    min-width: 345px;
    max-width: 440px;
    width: 345px;
}

.item-menu {
    font-size: 18px;
    margin: 0 8px;
}

.item-menu-border:hover {
    border-bottom: 2px solid #000;
}

.item-menu-social-container {
    margin: 0;
}

.item-menu-social-container:hover {
    animation: rotatIcono 0.45s ease;
}

@keyframes rotatIcono {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.item-menu-social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    width: 31px;
    line-height: 31px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
}

.facebook-logo {
    background: #3b5998;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 2px;
}

.instagram-logo {
    font-size: 22px;
    background: #d6249f;
    margin-right: 5px;
    margin-left: 2px;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
}

/*------------------MAIN----------------------*/
.info-title-web {
    text-align: center;
    padding: 0 50px;
}

.title {
    font-size: 42px;
    font-weight: 700;
}

.subtitle {
    margin: 11px 0 15px 0;
    font-size: 20px;
    font-weight: 400;
}

/*-----------------FORMULARIO GRID----------------------*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 35px 12px 41px 12px;
}
.grid-container {
    display: grid;
    /*grid-template-columns: repeat(2, minmax(min-content, 400px));*/
    grid-template-columns: repeat(2, minmax(max-content, 400px));
    grid-template-rows: repeat(2, 260px);
    justify-content: center;
    align-content: center;
    gap: 40px 34px;
}

.grid-item {
    justify-self: center;
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 12px;
}

.num-grid-item {
    background: #334;
    display: inline-block;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    transform: translateY(-18px);
    font-weight: 700;
}

.title-grid-item {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
    font-weight: 500;
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-select-genero {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

.button-genero {
    background: rgba(255, 166, 0, 0.349);
    border-radius: 24px;
    width: 135px;
    height: 48px;
    line-height: 48px;
    margin-top: 8px;
    transition-property: background;
    transition-duration: 0.24s;
    transition-timing-function: linear;
    font-size: 19px;
    font-weight: 400;
    user-select: none;
}

/*------------------FORMULARIO ITEM1 GENERO----------------------*/
.button-genero:hover {
    background: rgba(255, 166, 0, 0.7);
}

.button-genero-active {
    background: rgba(255, 166, 0, 0.7);
}

.button-man {
    margin-right: 12px;
}

.button-woman {
    margin-left: 12px;
}

.img-genero {
    width: 86px;
    height: 86px;
}

/*------------------INPUT DEL FORMULARIO----------------------*/
.input-numeric {
    margin-top: 15px;
    font-weight: 900;
    border: none;
    border-bottom: 2px solid #222;
    width: 69px;
    height: 34px;
    text-align: center;
    line-height: 41px;
    font-size: 27px;
    color: #222;
    outline: none;
}

.input-numeric::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c9c9c985;
    opacity: 1; /* Firefox */
}

/*------------------ICONOCES Y DECORADOS DE LOS ITEM DEL FORMUALRIO GRID----------------------*/
.unidad-medida {
    display: inline-block;
    font-size: 19px;
    margin-left: 5px;
}

.icon-container {
    margin-top: 30px;
}

.icon {
    font-size: 55px;
    color: #444;
    /*box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 5px;
}

.icake {
    /* standard gradient background */
    background: linear-gradient(rgb(255, 199, 46), rgb(155, 97, 42));
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iruler {
    /* standard gradient background */
    background: linear-gradient(rgb(255, 230, 0), rgb(255, 166, 0));
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iweight {
    /* standard gradient background */
    background: linear-gradient(rgb(0, 110, 255), rgb(141, 104, 209));
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-calcular {
    margin-top: 35px;
    width: 350px;
    border: none;
    border-radius: 20px;
    background: #ff9901;
    background: -webkit-linear-gradient(right, #ff9901, #ff4040);
    background: -moz-linear-gradient(right, #ff9901, #ff4040);
    background: linear-gradient(to left, #ff9901, #ff4040);
    color: #fff;
    font-weight: 500;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
}

/*------------------LINEA DE COLORES / RESULTADO----------------------*/
.resultado-color-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: min-content;
    width: 85%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.resultado-line-text {
    text-align: center;
}

.resultado-imc-name {
    font-size: 16px;
}

.resultado-imc-interval {
    font-size: 16px;
    margin: 8px 0 12px 0;
}

.line-color-item {
    text-align: center;
    height: 10px;
}

.line-celeste {
    background: rgb(99, 164, 238);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.line-verde {
    background: rgb(76, 255, 100);
}

.line-naranja {
    background: rgb(255, 161, 118);
}

.line-rojo {
    background: rgb(255, 82, 82);
}

.line-morado1 {
    background: rgb(230, 105, 255);
}

.line-morado2 {
    background: rgb(224, 67, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*------------------MOSTRAR RESULTADO----------------------*/
.show-resultado-imc-item {
    background: #ffaa2a;
    margin: auto;
    margin-top: 11px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 91%;
    min-width: 85px;
}

.show-resultado-imc-item-text {
    color: #fff;
    text-align: center;
}

.show-resultado-imc-item-indicator {
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffaa2a;
    transform: translateY(-40px);
    position: absolute;
}
/*--------DESCRIPCION DE RESULTADO-----------*/
.resultado-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultado-description {
    margin-bottom: 20px;
    border-radius: 7px;
    width: 81%;
    text-align: center;
}

.resultado-description-item:nth-child(4) {
    grid-column: 1/4;
    font-size: 17px;
    justify-self: center;
    align-self: flex-end;
}

.resultado-description-success {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-template-rows: 65px 40px;
    background: #8de4ff54;
    border: 1.8px solid #52d7ff2a;
    padding: 15px 0;
}

.resultado-description-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #ff432a73;
    border: 1.8px solid #ff432a2a;
}
.resultado-description-text {
    font-size: 17px;
    margin: 7px 0;
}
.resultado-description-text:nth-child(1) {
    font-weight: 700;
}

/*-------------SOBRE EL IMC----------*/

.web-imc-item {
    padding: 10px 40px;
    margin: 15px 0;
}

.web-imc-text {
    line-height: 24px;
}
.title-imc {
    font-size: 22px;
    font-weight: 700;
    color: #555;
    margin-bottom: 20px;
}

.subtitle-imc {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #777;
}

.parrafo-imc {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
}

/*MIN WIDTH DE LA PANTALLA PARA 2 COLUMNAS ES 858PX*/
/*----------------RESPONSIVE DESIGN----------------*/

@media (max-width: 858px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .grid-item {
        width: 80%;
        min-width: 320px;
        height: 260px;
    }
}

@media (max-width: 802px) {
    .nav-flex{
        width: 100%;

    }

    .nav-flex-item{
        width: 100%;
    }

    .nav-flex-item:nth-child(2){
        padding-right: 25px;
    }

    .nav-menu-container {
        transform: translateX(0);
    }

    .menu{
        margin: 0;
        padding: 0;
        width: auto;
        min-width: auto;
        max-width: auto;
    }

    
    .btn-menu{
        visibility:hidden;
    }
}


@media (max-width: 640px) {
    .resultado-color-container{
        display: none;
    }
}

@media (max-width: 615px) {
    .resultado-description-success {
        display: flex;
        flex-direction: column;
        background: #8de4ff54;
        border: 1.8px solid #52d7ff2a;
    }
    .resultado-description-item{
        padding: 10px 30px;
    }
    .resultado-description {
        width: 70%;
    }
    
}


@media (max-width: 570px) {
    .menu{
        margin: 0;
    }

    .item-menu-social-container{
        display: none;
    }
}

@media (max-width: 473px) {
    .nav-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
        overflow: hidden;
        height: 90px;
        border: 1px solid rgb(109, 109, 112);
    }

    .nav-flex-item:nth-child(1) {
        justify-content: flex-start;
        padding: 0 5%;
    }

    .nav-flex-item:nth-child(2){
        justify-content: flex-end;
        padding: 0;
    }

    

    .nav-menu-container {
        transform: translateX(0);
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .grid-item {
        width: 80%;
        min-width: 320px;
        height: 260px;
    }
}
